@model NEW_CAM.Models.ContactViewModel
<div>
    @Html.HiddenFor(p => p.txtusername)
    @Html.HiddenFor(p => p.txtphonecellular)
    @Html.HiddenFor(p => p.txtphonefax)
     @Html.HiddenFor(p => p.txtemail)
   <input type="submit" value="Compare"/>
</div>